[Desktop Entry]
Version=1.0
Type=Application
Name=Git Flow
GenericName=Git Flow
Comment=Graphical Git Flow client with CI/CD extensions
Exec=git-flow gui %f
Icon=git-flow
Terminal=false
Categories=Development;
Keywords=git;gitflow;vcs;version-control;
StartupNotify=true